.DS_Store
__pycache__

*.npy
*.root
*.log
*.ckpt
*.pdf
*.h5
.coverage

*.egg-info/
*_cache/
.cache/
site/
logs/
tmp/
env/
build/
conda/
bin/
plots/
run/
python_install/

**user**
**temp**
.vscode/launch.json
