jets:
  inputs:
    - pt
    - eta
    - abs_eta
    - mass
  labels:
    - R10TruthLabel_R22v1
    - R10TruthLabel_R22v1_TruthJetMass
    - R10TruthLabel_R22v1_TruthJetPt

tracks:
  inputs:
    - d0
    - z0SinTheta
    - dphi
    - deta
    - qOverP
    - IP3D_signed_d0_significance
    - IP3D_signed_z0_significance
    - phiUncertainty
    - thetaUncertainty
    - qOverPUncertainty
    - numberOfPixelHits
    - numberOfSCTHits
    - numberOfInnermostPixelLayerHits
    - numberOfNextToInnermostPixelLayerHits
    - numberOfInnermostPixelLayerSharedHits
    - numberOfInnermostPixelLayerSplitHits
    - numberOfPixelSharedHits
    - numberOfPixelSplitHits
    - numberOfSCTSharedHits
    - subjetIndex
  labels:
    - truthOriginLabel
    - truthTypeLabel
    - truthVertexIndex

subjets:
  inputs:
    - pt
    - eta
    - mass
    - deta
    - dphi
  labels:
    - HadronConeExclTruthLabelID
#flow:
#  inputs:
#    - pt
#    - energy
#    - deta
#    - dphi