jets:
  inputs:
    - pt
    - eta
    - abs_eta
    - mass
    - n_tracks
    - GN2Xv02_phbb
    - GN2Xv02_phcc
    - GN2Xv02_ptop
    - GN2Xv02_pqcd
    - GhostBHadronsFinalCount
    - GhostCHadronsFinalCount
    - C2
    - D2
    - L2
    - M2
    - N2
    - Tau21
  labels:
    - R10TruthLabel_R22v1
    - R10TruthLabel_R22v1_TruthJetMass
    - R10TruthLabel_R22v1_TruthJetPt

tracks:
  inputs:
    - pt
    - d0
    - lifetimeSignedD0
    - z0SinTheta
    - d0Uncertainty
    - dphi
    - deta
    - qOverP
    - lifetimeSignedD0Significance
    - lifetimeSignedZ0SinThetaSignificance
    - phiUncertainty
    - thetaUncertainty
    - qOverPUncertainty
    - numberOfPixelHits
    - numberOfSCTHits
    - numberOfInnermostPixelLayerHits
    - numberOfNextToInnermostPixelLayerHits
    - numberOfInnermostPixelLayerSharedHits
    - numberOfInnermostPixelLayerSplitHits
    - numberOfPixelSharedHits
    - numberOfPixelSplitHits
    - numberOfSCTSharedHits
    - leptonID
  labels:
    - ftagTruthOriginLabel
    - ftagTruthVertexIndex


truth_hadrons:
  labels:
    - pt
    - mass
    - energy
    - eta
    - phi
    - deta
    - dphi
    - dr
    - Lxy
    - charge
    - pdgId
    - barcode
    - ftagTruthParentBarcode
  inputs:
    - pt
    - mass
    - energy
    - eta
    - phi
    - deta
    - dphi
    - dr
    - Lxy
    - charge

flow:
  inputs:
    - flow_pt
    - flow_energy
    - flow_deta
    - flow_dphi
