name: tests
on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "main"
    tags:
      - "*"

jobs:
  pytest:
    name: pytest
    runs-on: ubuntu-latest
    container: python:3.11.10-slim-bookworm
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v3
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "The name of your branch is ${{ github.ref }} and your repository is ${{ github.repository }}."
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
      - run: python -m pip install -e .[dev] # install in editable mode with additional development tools
      - name: Install git gnupg python3-tk
        run: apt update && apt install -y git gnupg python3-tk
      - name: Run tests
        run: pytest -v --junitxml=coverage.xml --cov-report=term-missing:skip-covered --cov=upp tests/
      - name: Report coverage with Codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  publish:
    name: Publish to PyPI
    needs: [pytest]
    runs-on: ubuntu-latest
    # Only run for a tagged commit
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v3
      - name: Set up python version
        uses: actions/setup-python@v4
      - name: Build package
        run: |
          python -m pip install -U pip build
          python -m build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
